
        <!-- Preloader -->
        <div id="preloader">
          <img src="../assets/img/preloader.gif" alt="">
      </div>
      <!-- Preloader-end -->

  <!-- Scroll-top -->
      <button class="scroll-top scroll-to-target html">
          <i class="fas fa-angle-up"></i>
      </button>
      <!-- Scroll-top-end-->

      <!-- header-area -->
      <app-header></app-header>
      <!-- header-area-end -->

      <!-- main-area -->
      <main>
          <router-outlet></router-outlet>
      </main>
      <!-- main-area-end -->


      <!-- footer-start -->
      <app-footer></app-footer>
      <!-- footer-end -->