<header>
    <div class="header-top-area">
      <div class="container custom-container">
        <div class="row align-items-center">
          <div class="col-md-7">
            <div class="header-top-left">
              <ul>
                <li>Llámanos: 747-800-9880</li>
                <li>
                  <i class="far fa-clock"></i>Porque amamos las mascotas las 24
                  horas del día
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-5">
            <div class="header-top-right">
              <ul class="header-top-social">
                <li class="follow">Síguenos :</li>
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-navbar></app-navbar>
  </header>
  