<div class="container custom-container">
  <ngx-slick-carousel
    class="row adopt-active"
    #slickModal="slick-carousel"
    [config]="slideConfig"
  >
    <div ngxSlickItem *ngFor="let post of ancientPets" class="col-xl-3">
      <div class="adoption-item">
        <div class="adopt-thumb">
          <a [routerLink]="['/adoptions/', post.id]"
            ><img
              src="http://localhost:3000/images/{{ post.pet.images[0].name }}"
              alt=""
          /></a>
          <span class="status">Nueva</span>
        </div>
        <div class="adopt-content">
          <div class="adopt-date">
            <i class="far fa-calendar-alt"></i> Nacimiento : {{ post.pet.age }}
          </div>
          <h3 class="title">
            <a [routerLink]="['/adoptions/', post.id]">{{ post.pet.name }}</a>
          </h3>
          <p>{{ post.description }}</p>
          <a [routerLink]="['/adoptions/', post.id]" class="read-more"
            >Adoptar <img src="/assets/img/icon/pawprint.png" alt=""
          /></a>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</div>
