<!-- main-area -->
<main>
  
    <!-- breadcrumb-area -->
    <app-breadcrumb [title]="title" [image]="image"></app-breadcrumb>
    <!-- breadcrumb-area-end -->
    
    <!-- contact-area -->
    <section class="contact-area pt-110 pb-40">
      <div class="container">
        <div class="container-inner-wrap">
          <div class="row justify-content-center justify-content-lg-between">
            <div class="col-lg-6 col-md-8 order-2 order-lg-0">
              <div class="contact-title mb-20">
                <h5 class="sub-title">Contáctenos</h5>
                <h2 class="title">Preguntenos lo que sea<span>.</span></h2>
              </div>
              <div class="contact-wrap-content">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae modi magnam fugiat, eligendi quia accusamus ea blanditiis illo sunt architecto voluptas cumque cupiditate sapiente ad corporis aut cum recusandae aliquid?
                </p>
                <form action="#" class="contact-form">
                  <div class="form-grp">
                    <label for="name">Nombre <span>*</span></label>
                    <input type="text" id="name" placeholder="Jon Deo..." />
                  </div>
                  <div class="form-grp">
                    <label for="email">Correo Electrónico <span>*</span></label>
                    <input
                      type="text"
                      id="email"
                      placeholder="info.example@.com"
                    />
                  </div>
                  <div class="form-grp">
                    <label for="message">Mensaje <span>*</span></label>
                    <textarea
                      name="message"
                      id="message"
                      placeholder="Opinion..."
                    ></textarea>
                  </div>
                  <div class="form-grp checkbox-grp">
                    <input type="checkbox" id="checkbox" />
                    <label for="checkbox">No mostrar su dirección de correo electrónico</label>
                  </div>
                  <button type="button" class="btn rounded-btn">Enviar</button>
                </form>
              </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-8">
              <div class="contact-info-wrap">
                <div class="contact-img">
                  <img src="/assets/img/images/contact_img.png" alt="" />
                </div>
                <div class="contact-info-list">
                  <ul>
                    <li>
                      <div class="icon">
                        <i class="fas fa-map-marker-alt"></i>
                      </div>
                      <div class="content">
                        <p>Matta #255, Los Lagos, Región de los ríos.</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon"><i class="fas fa-phone-alt"></i></div>
                      <div class="content">
                        <p>+569 5030 4515</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon"><i class="fas fa-envelope-open"></i></div>
                      <div class="content">
                        <p>contacto@findyourpets.cl</p>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="contact-social">
                  <ul>
                    <li>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- contact-area-end -->
  </main>
  <!-- main-area-end -->
  